<div class="w-25 m-auto  border border-success bg-success-subtle p-4 rounded my-3" [formGroup]="register">
    <div>
        <h1 class="text-center">Register</h1>
    </div>
    <!-- <div class="form-floating mb-3">
        <input type="text" class="form-control" id="floatingInput" placeholder="name@example.com" formControlName="id">
        <label for="floatingInput">Full Name</label>
        <p class="text-danger" *ngIf=" register.controls['fullname']['touched'] && register.controls['fullname']['errors']">*Required Field</p>
    </div> -->
    <div class="form-floating mb-3">
        <input type="text" class="form-control" id="floatingInput" placeholder="name@example.com" formControlName="id">
        <label for="floatingInput">ID</label>
        <p class="text-danger" *ngIf=" register.controls['id']['touched'] && register.controls['id']['errors']">*Required Field</p>
    </div>
    <div class="form-floating mb-3">
        <input type="password" class="form-control" id="floatingPassword" placeholder="Password" formControlName="password">
        <label for="floatingPassword">Password</label>
        <p class="text-danger" *ngIf=" register.controls['password']['touched'] && register.controls['password']['errors']">*Required Field</p>
    </div>
    <div class="mb-3">
        <button class="btn btn-success w-100"  [disabled]="!register.valid" (click)="regist()">Register</button>
    </div>
    <div>
        <a routerLink="/login">Already registered?</a>
    </div>
</div>
